<div class="container-fluid mt-5">
    <table class="table table-bordered table-hover bg-white">
        <thead>
            <tr class="text-center">
                <th>LawyerID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Address</th>
                <th>Specialization</th>
                <th>Working Experience</th>
            </tr>
        </thead>
        <tbody *ngFor="let lawyer of lawyers">
            <tr>
                <td>{{ lawyer?.userId }}</td>
                <td>{{ lawyer?.firstName }}</td>
                <td>{{lawyer?.lastName}}</td>
                <td>{{lawyer?.email}}</td>
                <td>{{lawyer?.address}}</td>
                <td>{{lawyer?.specialization}}</td>
                <td>{{lawyer?.workingExperience}}</td>
               
            </tr>
        </tbody>
    </table>
</div>







